

/* ===== HERO ===== */

.hero {
    width: 100%;
    padding: 80px 20px;
    background: white;
    overflow: hidden;
}

.hero-container {
    max-width: 1156px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
    animation: fadeUp 0.9s ease forwards;
}

.hero-text {
    flex: 1;
}

.hero-text p {
    font-size: 12px;
    color: #01328E;
    display: inline-block;
    border: 1px solid #01328E;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 12px;
    opacity: 0;
    animation: slideLeft 0.7s ease forwards;
}

.hero-text h2 {
    font-size: 42px;
    color: #01328E;
    margin-left: 15px;
    opacity: 0;
    animation: slideLeft 0.9s ease forwards;
    animation-delay: 0.2s;
    margin-top: 15px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 69px;
    margin-right: 18px;
    opacity: 0;
    animation: slideRight 0.9s ease forwards;
    animation-delay: 0.4s;
}

.btn-secondary,
.btn-primary {
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    padding: 10px 12px;
}

.btn-secondary {
    background-color: #01328E;
    color: #fff;
    border-radius: 50%;
    height: 33px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background: #01328E;
    color: #fff;
    padding: 9px 25px;
}

.btn-primary:hover,
.btn-secondary:hover {
    background: #08A1DD;
    color: #fff;
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 10px 25px rgba(8, 161, 221, 0.25);
}

.btn-secondary img {
    filter: brightness(0) invert(1);
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(35px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-35px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(35px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1400px) {
    .hero-container {
        max-width: 1140px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        margin-top: 50px;
        animation: fadeUp 0.9s ease forwards;
    }

}

@media (max-width: 768px) {
    .hero-container {
        margin-top: 75px;
    }

    .hero-buttons {
        justify-content: center;
        margin-top: 57px;
        margin-right: 0;
    }

    .hero-text h2 {
        font-size: 30px;
    }
}

@media (max-width: 564px) {
    .hero-container {
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
        margin-top: -37px;
        margin-right: 0;
    }

    .hero-text h2 {
        font-size: 30px;
    }
}

@media (max-width: 364px) {
    .hero-container {
        flex-direction: column;
        margin-top: -48px;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
        margin-top: -42px;
        margin-right: 0;
    }

    .hero-text h2 {
        font-size: 30px;
    }
}

/* ===== SECTION TWO ===== */

.image-section {
    width: 100%;
    padding: 16px 20px 0;
    margin-top: -40px;
    background: #fff;
    box-sizing: border-box;
}

.image-container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.image-container img {
    width: 100%;
    max-width: 1156px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .image-container img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .image-section {
        padding: 12px 15px 0;
        margin-top: -20px;
    }

    .image-container img {
        border-radius: 8px;
    }
}

@media (max-width: 480px) {
    .image-section {
        padding: 10px;
        margin-top: -10px;
    }

    .image-container img {
        border-radius: 6px;
        margin-top: -48px;
    }
}

/* <!-- SECTION THREE SECTION THREE SECTION THREE SECTION THREE SECTION THREE --> */

/* ===== WHAT SECTION ===== */
.what-section {
    padding: 90px 20px;
    background: #fff;
}

.what-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

/* LEFT */
.what-tag {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #01328E;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #01328E;
    margin-bottom: 22px;
}

.what-left h2 {
    font-size: 52px;
    line-height: 1.1;
    color: #01328E;
    margin-bottom: 20px;
    font-weight: 700;
}

.what-left p {
    font-size: 15px;
    line-height: 1.8;
    color: black;
    max-width: 500px;
    margin-bottom: 35px;
}

/* BUTTONS */
.what-btns {
    display: flex;
    align-items: center;
    gap: 12px;
}

.call-btn {
    background: #01328E;
    color: white;
    text-decoration: none;
    padding: 8px 26px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
}

.call-btn:hover {
    background: #08A1DD;
}

.arrow-btn {
    width: 36px;
    height: 33px;
    border-radius: 50%;
    background: #01328E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.arrow-btn:hover {
    background: #08A1DD;
}

.arrow-btn img {
    filter: brightness(0) invert(1);
}

.arrow-btn img :hover {
    filter: brightness(0) invert(1);
}

/* FAQ */
.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 24px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question span {
    font-size: 18px;
    font-weight: 600;
    color: #01328E;
}

.faq-btn {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background: #f3f3f3;
    color: #01328E;
    font-size: 22px;
    cursor: pointer;
}

.faq-answer {
    display: none;
    padding-top: 18px;
    color: black;
    font-size: 15px;
    line-height: 1.7;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-btn {
    background: #01328E;
    color: white;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {

    .what-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .what-left h2 {
        font-size: 42px;
    }
}

@media (max-width: 576px) {

    .what-section {
        padding: 70px 20px;
    }

    .what-left h2 {
        font-size: 34px;
    }

    .faq-item span {
        font-size: 16px;
    }
}


/* <!-- SECTION FOUR SECTION FOUR SECTION FOUR SECTION FOUR SECTION FOUR --> */

/* ===== DELIVER SECTION ===== */
.deliver-section {
    position: relative;
    background: #01328E;
    padding: 70px 20px 85px;
    overflow: visible;
}



/* Right Top Shape */
.deliver-shape img {
    position: absolute;
    top: -155px;
    right: 0px;
    width: 301px;
    height: 600px;
    opacity: 0.9;
}

.deliver img {
    position: absolute;
    bottom: -20px;
    left: 424px;
    width: 130px;
    height: 20px;
}

.deliver-container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
}

/* Tag */
.deliver-tag {
    display: inline-block;
    padding: 7px 18px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    font-size: 11px;
    font-weight: 600;
    color: white;
    margin-bottom: 22px;
}

/* Heading */
.deliver-title {
    font-size: 46px;
    color: white;
    margin-bottom: 45px;
    font-weight: 700;
}

/* Grid */
.deliver-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 80px;
}

/* Item */
.deliver-item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.deliver-item img {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.deliver-item span {
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.deliver-item img {
    filter: brightness(0) invert(1);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

    .deliver-title {
        font-size: 34px;
    }

    .deliver-grid {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .deliver-shape {
        width: 180px;
        height: 120px;
    }
}

/* <!-- SECTION FIVE SECTIN FIVE SECTION FIVE SECTION FIVE SECTION FIVE  --> */

.stats-section {
    padding: 80px 20px;
    background: #fff;
}

.stats-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* BOX */
.stat-box {
    padding: 0 26px;
    border-left: 1px solid #bdbdbd;

    /* START ANIMATION */
    opacity: 0;
    transform: translateY(40px);
    animation: statFadeUp 0.8s ease forwards;
}

/* DELAY */
.stat-box:nth-child(1) {
    animation-delay: 0.1s;
}

.stat-box:nth-child(2) {
    animation-delay: 0.3s;
}

.stat-box:nth-child(3) {
    animation-delay: 0.5s;
}

.stat-box:nth-child(4) {
    animation-delay: 0.7s;
}

/* NUMBER */
.stat-box h3 {
    display: inline-block;
    background: #f3f5f7;
    color: #08A1DD;
    font-size: 34px;
    font-weight: 700;
    padding: 6px 14px;
    border-radius: 8px;
    margin-bottom: 16px;
    line-height: 1;

    /* HOVER EFFECT */
    transition: all 0.35s ease;
    cursor: pointer;
}

/* NUMBER HOVER */
.stat-box h3:hover {
    transform: scale(1.18);
    background: #08A1DD;
    color: #fff;
    box-shadow: 0 12px 30px rgba(8, 161, 221, 0.35);
}

/* TEXT */
.stat-box p {
    font-size: 10px;
    letter-spacing: 0.8px;
    color: #01328E;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6;
}

.text-color {
    color: #01328E;
}

/* SECTION ANIMATION */
@keyframes statFadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {

    .stats-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 0;
    }
}

@media (max-width: 576px) {

    .stats-container {
        grid-template-columns: 1fr;
    }

    .stat-box {
        padding: 0 0 0 20px;
    }

    .stat-box h3 {
        font-size: 28px;
    }
}

/* <!-- SECTION SIX SECTION SIX SECTION SIX SECTION SIX SECTION SIX  --> */

/* ===== WHY SECTION ===== */
.why-section {
    padding: 80px 20px;
    background: #fff;
}

.why-container {
    max-width: 1200px;
    margin: auto;

}

/* TAG */
.why-tag-wrap {
    text-align: center;
    margin-bottom: 45px;
}

.why-tag {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #01328E;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #01328E;
    letter-spacing: 0.5px;
}

/* GRID */
.why-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin-bottom: 45px;
}

/* CARD */
.why-card {
    border: 1px solid #b8c8f7;
    border-radius: 20px;
    padding: 18px;
    min-height: 340px;
    position: relative;
    transition: 0.3s ease;
    overflow: hidden;
}




/* ICON */
.why-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #01328E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.why-icon img {
    width: 20px;
    height: 20px;
}

/* CONTENT */
.why-content {
    background: #E2F4FB;
    border-radius: 16px;
    padding: 18px 16px;
    transition: 0.3s ease;
}

.why-content h3 {
    font-size: 28px;
    line-height: 1.2;
    color: #01328E;
    margin-bottom: 16px;
    font-weight: 700;
}

.why-content p {
    font-size: 14px;
    line-height: 1.7;
    color: #4a4a4a;
}

/* BUTTONS */
.why-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.schedule-btn {
    background: #01328E;
    color: white;
    text-decoration: none;
    padding: 8px 28px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 400;
    transition: 0.3s;
}

.schedule-btn:hover {
    background: #08A1DD;
}

.circle-btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #01328E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.circle-btn:hover {
    background: #08A1DD;
}

.circle-btn img {
    filter: brightness(0) invert(1);
}

.circle-btn:hover img {
    filter: brightness(0) invert(1);
}

/* CARD */
.why-card {
    border: 1px solid #b8c8f7;
    border-radius: 20px;
    padding: 18px;
    min-height: 340px;
    position: relative;
    overflow: hidden;
    background: #fff;

    transition: 0.45s ease;
}

/* ICON */
.why-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #01328E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;

    position: relative;
    z-index: 2;
}

.why-icon img {
    width: 20px;
    height: 20px;
}

/* CONTENT */
.why-content {
    background: #E2F4FB;
    border-radius: 16px;
    padding: 18px 16px;

    position: relative;
    z-index: 2;

    transition: 0.45s ease;
}

/* HOVER EFFECT */
.why-card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: #E2F4FB;

    transition: 0.5s ease;
    z-index: 1;
}

/* FULL CARD BLUE ON HOVER */
.why-card:hover::before {
    bottom: 0;
}

/* CARD ZOOM */
.why-card:hover {
    transform: translateY(-10px) scale(1.04);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}

/* CONTENT TEXT */
.why-content h3 {
    font-size: 28px;
    line-height: 1.2;
    color: #01328E;
    margin-bottom: 16px;
    font-weight: 700;

    transition: 0.3s ease;
}

.why-content p {
    font-size: 14px;
    line-height: 1.7;
    color: #4a4a4a;

    transition: 0.3s ease;
}

/* TEXT CHANGE ON HOVER */
.why-card:hover .why-content h3,
.why-card:hover .why-content p {
    color: #01328E;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {

    .why-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {

    .why-grid {
        grid-template-columns: 1fr;
    }

    .why-content h3 {
        font-size: 24px;
    }
}

/* <!-- SECTION EIGTH SECTION EIGHT SECTION EIGHT SECTION EIGHT SECTION EIGHT  --> */

/* ===== WORK SECTION ===== */
.work-section {
    padding: 90px 20px;
    background: #fff;
}

.work-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 80px;
    align-items: start;
}

/* LEFT */
.work-tag {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #01328E;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #01328E;
    margin-bottom: 22px;
}

.work-left h2 {
    font-size: 54px;
    color: #01328E;
    margin-bottom: 22px;
    line-height: 1.1;
    font-weight: 700;
}

.work-left p {
    font-size: 15px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 35px;
    max-width: 500px;
}

/* BUTTONS */
.work-btns {
    display: flex;
    align-items: center;
    gap: 12px;
}

.work-call-btn {
    background: #01328E;
    color: white;
    text-decoration: none;
    padding: 8px 26px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 400;
    transition: 0.3s;
}

.work-call-btn:hover {
    background: #08A1DD;
}



.work-arrow-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #01328E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.work-arrow-btn:hover {
    background: #08A1DD;
}

.work-arrow-btn img {
    filter: brightness(0) invert(1);
}

.work-arrow-btn:hover {
    background: #08A1DD;
}

/* ===== TIMELINE ===== */
.timeline {
    position: relative;
    padding-left: 40px;
}

/* LINE */
.timeline::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #d7d7d7;
}

/* ITEM */
.timeline-item {
    position: relative;
    display: flex;
    gap: 22px;
    margin-bottom: 42px;
}

/* ICON */
.timeline-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #01328E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -40px;
    top: 0;
    z-index: 2;
}

.timeline-icon img {
    width: 18px;
    height: 18px;
}

/* CONTENT */
.timeline-content h3 {
    font-size: 24px;
    color: #01328E;
    margin-bottom: 10px;
    font-weight: 400;
}

.timeline-content h3 span {
    font-weight: 400;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.7;
    color: #444;
    max-width: 420px;
}

/* ===== LEFT SIDE STICKY ===== */
.work-left {
    position: sticky;
    top: 100px;

    height: fit-content;

    animation: fadeLeft 1s ease;
}

/* SMOOTH APPEAR */
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* RIGHT TIMELINE ANIMATION */
.timeline-item {
    position: relative;
    display: flex;
    gap: 22px;
    margin-bottom: 42px;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;
}

/* DELAY */
.timeline-item:nth-child(1) {
    animation-delay: 0.2s;
}

.timeline-item:nth-child(2) {
    animation-delay: 0.4s;
}

.timeline-item:nth-child(3) {
    animation-delay: 0.6s;
}

.timeline-item:nth-child(4) {
    animation-delay: 0.8s;
}

.timeline-item:nth-child(5) {
    animation-delay: 1s;
}

/* TIMELINE ITEM HOVER */
.timeline-item:hover .timeline-icon {
    transform: scale(1.15);
    background: #08A1DD;
}

.timeline-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #01328E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -40px;
    top: 0;
    z-index: 2;

    transition: 0.35s ease;
}

/* BUTTON HOVER */
.work-call-btn,
.work-arrow-btn {
    transition: all 0.35s ease;
}

.work-call-btn:hover,
.work-arrow-btn:hover {
    transform: scale(1.08);
}

/* FADE UP */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== MOBILE ===== */
@media (max-width: 992px) {

    .work-left {
        position: relative;
        top: 0;
    }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {

    .work-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .work-left h2 {
        font-size: 42px;
    }
}

@media (max-width: 576px) {

    .work-section {
        padding: 70px 20px;
    }

    .work-left h2 {
        font-size: 34px;
    }

    .timeline-content h3 {
        font-size: 18px;
    }

    .timeline {
        padding-left: 30px;
    }

    .timeline-icon {
        left: -30px;
        width: 36px;
        height: 36px;
    }
}


/* <!-- SECTION NINE SECTION NINE SECTION NINE SECTION NINE SECTION NINE --> */


.explore-section {
    padding: 90px 20px;
    background: #fff;
}

.explore-container {
    max-width: 1200px;
    margin: auto;
}

/* TOP */
.explore-top {
    text-align: center;
    margin-bottom: 55px;
}

.explore-tag {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #01328E;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #01328E;
    margin-bottom: 18px;
}

.explore-top h2 {
    font-size: 52px;
    color: #01328E;
    font-weight: 700;
}

/* GRID */
.explore-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin-bottom: 45px;
}

/* CARD */
.explore-card {
    background: #f7f7f7;
    border-radius: 18px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.3s ease;
    position: relative;
}

.explore-card:hover {
    transform: translateY(-5px);
}

/* IMAGE */
.explore-image-wrap {
    position: relative;
}

.explore-image {
    width: 100%;
    height: 280px;
    display: block;
    border-radius: 18px;
}

/* BADGE */
.explore-badge {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #dff0ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-badge img {
    width: 40px;
    height: 40px;
}

/* CONTENT */
.explore-content {
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.explore-content h3 {
    font-size: 20px;
    line-height: 1.3;
    color: #01328E;
    font-weight: 600;
}

/* ARROW */
.explore-arrow {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
    color: #01328E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    flex-shrink: 0;
    transition: background 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}



/* HOVER */
.explore-arrow:hover {
    background: #08A1DD;
    transform: translateY(-3px);
}

/* IMAGE COLOR CHANGE */
.explore-arrow:hover img {
    filter: brightness(0) invert(1);
}

/* BUTTON */
.explore-btn-wrap {
    text-align: center;
}

.explore-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 34px;
    border-radius: 40px;
    background: #01328E;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: background 0.3s ease, color 0.3s ease;
}

.explore-btn:hover {
    background: #08A1DD;
    color: #fff;
    /* agar color bhi change karna hai to yahan specify karein */
}

/* CARD HOVER ANIMATION */
.explore-card {
    background: #f7f7f7;
    border-radius: 18px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.3s ease, background 0.3s ease;
    /* background bhi smoothly change hoga */
    position: relative;
}

.explore-card:hover {
    transform: translateY(-5px);
    background: #01328E;
    /* hover par color change */
}

/* TITLE COLOR CHANGE ON HOVER */
.explore-card:hover .explore-content h3 {
    color: white;
    /* hover color */
    transition: color 0.3s ease;
}


/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {

    .explore-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .explore-top h2 {
        font-size: 40px;
    }
}

@media (max-width: 576px) {

    .explore-grid {
        grid-template-columns: 1fr;
    }

    .explore-top h2 {
        font-size: 32px;
    }

    .explore-image {
        height: 240px;
    }
}

/* <!-- SECTION TEN SECTION TEN SECTION TEN SECTION TEN SECTION TEN --> */

/* ===== TESTIMONIAL SECTION ===== */
.testimonial-section {
    padding: 90px 20px;
    background: #fff;
}

.testimonial-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 70px;
    align-items: center;
}

/* LEFT */
.testimonial-tag {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #01328E;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #01328E;
    margin-bottom: 28px;
}

.testimonial-left h2 {
    font-size: 54px;

    line-height: 1.15;
    color: #01328E;
    margin-bottom: 60px;
    font-weight: 400;
}

/* BUTTON + REVIEW */
.testimonial-bottom {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.testimonial-btn {
    background: #01328E;
    color: white;
    text-decoration: none;
    padding: 8px 28px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
}

.testimonial-btn:hover {
    background: #08A1DD;
}

.google-review {
    display: flex;
    align-items: center;
    gap: 12px;
}

.google-review img {
    width: 40px;
    height: 40px;
}

.google-review h4 {
    font-size: 18px;
    color: #01328E;
    margin-bottom: 3px;
    font-weight: 700;
}

.google-review p {
    font-size: 10px;
    letter-spacing: 0.7px;
    color: #666;
    font-weight: 600;
}

/* ===== CARD ===== */
.testimonial-card {
    background: #f7f7f7;
    border-radius: 24px;
    padding: 42px;
    position: relative;
}

/* QUOTE */
.quote-icon {
    font-size: 54px;
    color: #28A8FF;
    line-height: 1;
    margin-bottom: 16px;
}

/* TEXT */
.testimonial-text {
    font-size: 24px;
    line-height: 1.8;
    color: #444;
    max-width: 620px;
    margin-bottom: 60px;
}

/* FOOTER */
.testimonial-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* USER */
.testimonial-user {
    display: flex;
    align-items: center;
    gap: 14px;
}

.user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 700;
    color: #333;
}

.testimonial-user h4 {
    font-size: 15px;
    color: #01328E;
    margin-bottom: 4px;
    font-weight: 700;
}

.testimonial-user span {
    font-size: 10px;
    letter-spacing: 0.6px;
    color: #777;
    font-weight: 600;
}

/* ARROWS */
.testimonial-arrows {
    display: flex;
    gap: 12px;
}

.testimonial-arrows button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background: white;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button hover */
.testimonial-arrows button:hover {
    background: #01328E;
}

/* img color change on hover */
.testimonial-arrows button:hover img {
    filter: brightness(0) invert(1);
}


/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {

    .testimonial-container {
        grid-template-columns: 1fr;
    }

    .testimonial-left h2 {
        font-size: 42px;
    }

    .testimonial-text {
        font-size: 20px;
    }
}

@media (max-width: 576px) {

    .testimonial-section {
        padding: 70px 20px;
    }

    .testimonial-left h2 {
        font-size: 34px;
    }

    .testimonial-card {
        padding: 30px 24px;
    }

    .testimonial-text {
        font-size: 17px;
        line-height: 1.7;
    }
}

/* SECTION 11 SECTION 11 SECTION 11 SECTION 11 SECTION 11 */

.transparent-section {
    position: relative;
    width: 100%;
    height: 760px;
    overflow: hidden;
}

/* BACKGROUND IMAGE */
.transparent-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.transparent-card {
    position: absolute;
    top: 40px;
    left: 45px;
    width: 520px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    border-radius: 24px;
    padding: 34px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
    /* opacity aur initial transform remove kiya */
    transition: transform 0.3s ease;
}

/* TAG */
.transparent-tag {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #01328E;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #01328E;
    margin-bottom: 26px;
}

/* CLOSE ICON */
.transparent-close {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #01328E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.transparent-close:hover {
    background: #08A1DD;
}

/* HEADING */
.transparent-card h2 {
    font-size: 56px;
    line-height: 1.15;
    color: #01328E;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Highlight */
.transparent-card h2 span {
    background: #CFEFFF;
    padding: 2px 8px;
    border-radius: 8px;
    display: inline-block;
}

/* TEXT */
.transparent-card p {
    font-size: 15px;
    color: #555;
    margin-bottom: 28px;
    line-height: 1.7;
}

/* BUTTON */
.transparent-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 30px;
    background: #01328E;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.transparent-btn:hover {
    background: #08A1DD;
    transform: translateY(-2px);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
    .transparent-section {
        height: 650px;
    }

    .transparent-card {
        width: calc(100% - 40px);
        left: 20px;
        top: 20px;
    }

    .transparent-card h2 {
        font-size: 42px;
    }
}

@media (max-width: 576px) {
    .transparent-section {
        height: 560px;
    }

    .transparent-card {
        padding: 26px 22px;
        border-radius: 18px;
    }

    .transparent-card h2 {
        font-size: 32px;
    }

    .transparent-btn {
        width: 100%;
    }
}